body{ background: #eeeeee; }
.line{ height: 4px; background: url(../images/icon2.png) 0px -111px repeat-x; background-size: 50px auto;-webkit-background-size: 50px auto; -moz-background-size: 50px auto; -ms-background-size: 50px auto; -o-background-size: 50px auto; }
#address{ font-size: 12px; background: #fff;padding: 10px; }
/* item */
.item{ width: 100%; padding: 10px; background: #fff; margin-top: 10px;}
.itemtop{ font-size: 12px; color: #333333; }
.showoid{ float: left; }
.status{ color: #ff0042; float: right; }
.itemcenter{padding-top:15px;}
.centerleft{width: 20%; float:left;}
.centerleft img{ width: 100%; border: 1px solid #eeeeee; }
.centerright{width: 80%; float: left; padding-left: 10px;}
@media (max-width: 375px){.centerright{ font-size: 14px;}}
@media (min-width: 375px){.centerright{ font-size: 16px;}}
.infcount{ margin-top: 5px; }
.heji{ float: right; color: #ff0042;}
.heji em{color: #999999;}
/* item end*/
#pricesum {word-wrap: break-word;}
.wcallpay,.otherpay{ font-size: 16px; }
/* bottom */
.bottom{ width: 100%; position: fixed; bottom:0; height: 51px; border-top:1px solid #eeeeee; z-index: 999;}
.buy{ width:50%; background:#f80544; color:#fff; font-size:22px; text-align:center; padding:10px 0; height: 50px; float: right;}
.back{color: #333333; width: 50%; float: left; background: #fff; text-align: center; font-size:22px; height: 50px; display: block;padding-top: 10px;}
.back img{ width: 25px; vertical-align:top;display: inline-block;}
.back span{line-height: 25px; height: 25px;display: inline-block;}
.xufu{ width: 100%; background: #fff; margin-top: 10px; text-align: center; padding:10px 0; }
.xufu em{color: #ff0042;}
